* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-family: monospace;
  font-size: 13px;
  color: #bbb;
  background-color: #222;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

aside {
  border-left: 10px solid #181818;
}

header,
section {
  display: grid;
  border-bottom: 10px solid #181818;
}

main section {
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  padding-right: 0;
  padding-left: 112px;
}

header {
  grid-column: 1 / 3;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding: 4px 20px;
}

header ul {
  display: flex;
  align-items: center;
}

section {
  padding: 28px 24px;
}

section:last-of-type {
  border-bottom: 0;
}

section ul {
  flex-direction: column;
}

h1, h2 {
  color: #ffd70066;
}

h2 {
  position: absolute;
  top: 26px;
  left: 18px;
  font-size: 28px;
  letter-spacing: 0.04em;
  writing-mode: vertical-lr;
}

h3 {
  color: #ffd70099;
  font-size: 11px;
  font-weight: lighter;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
}

i {
  font-style: normal;
  opacity: 0.5;
}

img[src^="icons/"] {
  object-fit: contain;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

a,
li {
  display: flex;
  align-items: center;
  color: inherit;
  padding: 4px 8px;
  margin-left: -8px;
  margin-right: auto;
  border: 1px solid transparent;
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  background-color: #1c1c1c;
  border: 1px solid #ffd70033;
}

ul > a {
  min-width: 82.5%;
}

main ul > a {
  white-space: nowrap;
}

.alerts li,
.gotify a {
  position: relative;
  width: 100%;
}

.alerts li {
  margin-left: -8px;
}

.gotify button {
  position: absolute;
  top: 0;
  right: 4px;
  padding: 4px;
  color: transparent;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.gotify a:focus button,
.gotify a:hover button {
  color: #ffd70033;
}

.gotify a button:focus,
.gotify a button:hover {
  color: #ffd70099;
}

.logo {
  width: 86px;
  filter: saturate(0.4);
}

.charts-css.column:not(.reverse-datasets):not(.stacked) tbody tr {
  flex: 0 1 12px;
}

.lan {
  grid-template-columns: 1fr 1fr 2fr;
}

.lan__lanvm {
  grid-column: 2 / 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  width: 100%;
}

.lan__lanvm h3 {
  grid-column: 1 / 4;
}

.not__cameras {
  grid-column: 3 / 5;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  width: 100%;
}

.not__cameras h3 {
  grid-column: 1 / 3;
}

.has-popup {
  position: relative;
}

.popup {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 1;
  padding: 6px 10px;
  font-size: 0.875em;
  line-height: 1.6;
  background-color: #1c1c1c;
  border: 1px solid #ffd70033;
  white-space: normal;
}

.show-popup > .popup {
  display: block;
}

[data-status="down"] {
  color: #B44;
}